@font-face {
  font-family: 'MyNewFont';
  src: url("../font/KaiGenGothicCN-Light_8dd551f.woff");
}

.step_box {
  padding-top: .5rem;
  width: 100%;
}

.step_box .step {
  padding-top: .14rem;
  padding-bottom: .5rem;
  width: 3.25rem;
  margin: 0 auto;
  display: none;
}

.step_box .step_inner {
  width: 100%;
}

.step_box .step_inner .input_item {
  width: 100%;
}

.step_box .step_inner .input_item p {
  padding-top: .06rem;
  line-height: .3rem;
  font-size: .12rem;
  color: #999;
}

.step_box .step_inner .input_item .wrapper {
  width: 100%;
  height: .4rem;
  border-radius: .03rem;
  border: 1px solid #e3e3e3;
}

.step_box .step_inner .input_item .wrapper.select_wrapper {
  position: relative;
}

.step_box .step_inner .input_item .wrapper.select_wrapper .right {
  width: .14rem;
  height: .14rem;
  position: absolute;
  top: .13rem;
  right: .13rem;
}

.step_box .step_inner .input_item .wrapper.select_wrapper .right img {
  width: 100%;
}

.step_box .step_inner .input_item input {
  width: 100%;
  height: 100%;
  display: block;
  font-size: .14rem;
  color: #313131;
  padding-left: .14rem;
  border: 0;
  outline: none;
  background: transparent;
}

.step_box .step_inner .input_item input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #313131;
}

.step_box .step_inner .input_item input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #313131;
}

.step_box .step_inner .input_item input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #313131;
}

.step_box .step_inner .input_item input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #313131;
}

.step_box .step_inner .input_item select {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0 .14rem;
  font-size: .14rem;
  color: #313131;
  border: 0;
  outline: none;
  background: transparent;
}

.step_box .step_inner .input_item select::-ms-expand {
  display: none;
}

.step_box .step_inner .input_item select {
  /* Chrome */
  -webkit-appearance: none;
  /* Firefox */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: ' ';
  /* space */
}

.step_box .step_inner .input_item option {
  line-height: .4rem;
}

.step_box .step_inner .input_item.vcode input {
  float: left;
  width: 70%;
}

.step_box .step_inner .input_item.vcode .code_box {
  float: left;
  width: 30%;
  height: 100%;
  color: #34aadc;
  font-size: .12rem;
  line-height: .4rem;
  text-align: center;
  cursor: pointer;
}

.step_box .step_inner .row_box {
  padding-top: .36rem;
  width: 100%;
}

.step_box .step_inner .row_box .button_box {
  width: 100%;
  height: .4rem;
  overflow: hidden;
}

.step_box .step_inner .row_box .button_box .button {
  width: 1.6rem;
  height: 100%;
  font-size: .14rem;
  line-height: .4rem;
  text-align: center;
  border-radius: .03rem;
  cursor: pointer;
}

.step_box .step_inner .row_box .button_box .button_submit {
  float: right;
  background-color: #3A3939;
  color: #fff;
}

.step_box .step_inner .row_box .button_box .button_close {
  float: left;
  background-color: #eee;
  color: #999;
}

.step_box .step_inner .success_box {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}

.step_box .step_inner .success_box .success {
  width: 1.46rem;
  height: .38rem;
  margin: 0 auto;
  padding-left: .3rem;
  padding-bottom: .14rem;
  background: url(http://oe3sfsdmg.bkt.clouddn.com/zhaixim1success.png) 0.12rem 0/0.24rem auto no-repeat;
  font-size: .2rem;
  text-align: right;
  font-weight: 700;
  line-height: .24rem;
  color: #2b2b2b;
}

.step_box .step_inner .success_box p {
  font-size: .12rem;
  line-height: .2rem;
  color: #999;
  text-align: center;
  padding-bottom: .26rem;
}

.step_box .step_inner .success_box .button {
  width: 1.6rem;
  height: .4rem;
  font-size: .14rem;
  line-height: .4rem;
  text-align: center;
  border-radius: .03rem;
  cursor: pointer;
  background: #3a3939;
  color: #fff;
  margin: 0 auto;
}
